	/* --mol_theme_back: hsl( calc( var(--mol_theme_hue) + 180deg ), 90%, 50% ); */
	/* --mol_theme_back: hsl( var(--mol_theme_hue), calc( var(--mol_theme_satur) * 20% ), calc( 55% + 45% * var(--mol_theme_luma) ) ); */

:root, [mol_theme] {
	/* --mol_theme_text: hsl( var(--mol_theme_hue), 0%, calc( 40% - 40% * var(--mol_theme_luma) ) );
	--mol_theme_field: hsl( var(--mol_theme_hue), calc( var(--mol_theme_satur) * 50% ), calc( 54% + 46% * var(--mol_theme_luma) ), .25 );
	
	--mol_theme_card: hsl( var(--mol_theme_hue), calc( var(--mol_theme_satur) * 50% ), calc( 55% + 35% * var(--mol_theme_luma) ), .25 );
	--mol_theme_hover: hsl( var(--mol_theme_hue), 0%, 50%, .1 );
	--mol_theme_line: hsl( var(--mol_theme_hue), 0%, 50%, .2 );
	--mol_theme_shade: hsl( var(--mol_theme_hue), 0%, 50%, 1 ); */
	
	
	/* --mol_theme_current: hsl( calc( var(--mol_theme_hue) - 90deg ), 50%, calc( 50% - 10% * var(--mol_theme_luma) ) ); */
	/* --mol_theme_special: hsl( calc( var(--mol_theme_hue) + 90deg ), 50%, calc( 50% - 10% * var(--mol_theme_luma) ) ); */
	/* --mol_theme_focus: hsl( calc( var(--mol_theme_hue) + 180deg ), 100%, calc( 55% - 10% * var(--mol_theme_luma) ) ); */



	/* --mol_theme_control:hsl( var(--mol_theme_hue), 15%, calc( 50% - 10% * var(--mol_theme_luma) ) ); */
	
}

[mol_theme="$mol_theme_accent"] {
	background: hsl( calc( var(--mol_theme_hue) + 15deg ), 90%, 50% );
}

[mol_button_typed]:active {
	color: hsl( calc( var(--mol_theme_hue) + 15deg ), 90%, 50% );
    opacity: 0.9;
}


